<!doctype html>
<title>Edit histograms list</title>
<div style="width:100%">
<h1>Remove histograms:</h1>
<form action="" method=post enctype=multipart/form-data>
<div style="width:50%;position:absolute;left:50%">
<table>
<tr>
<td><h2>IT</h2></td><td></td>
</tr>
{% for h_TT in existing_plots_TT %}
  <tr>
    <td><label for="{{ h_TT }}">{{ h_TT }}</label></td><td> <input type="checkbox" name="{{ h_TT }}" id="{{ h_TT }}" 
    {% if h_TT in hist_coll['tt'] %} checked {% endif %}/></td>
  </tr>
{% endfor %}
</table>
</div>
<div style="width:50%;position:absolute;left:0%">

<table>
<tr>
<td><h2>TT</h2></td><td></td>
</tr>
{% for h_IT in existing_plots_IT %}
  <tr>
      <td><label for="{{ h_IT }}">{{ h_IT }}</label></td><td> <input type="checkbox" name="{{ h_IT }}" id="{{ h_IT }}" 
    {% if h_IT in hist_coll['it'] %} checked {% endif %}/></td>
  </tr>
{% endfor %}
</div>
</table>
<input type="submit" name="btn" value="Remove">
</form>
<div style="width:100%;position:absolute;">
    <form method="POST">
      From: <input type="text" name="start_run"
                {% if dm['start_run'] != '' %}
                value = "{{ dm['start_run'] }}"
                {% endif %}>
      To: <input type="text" name="end_run"
                {% if dm['end_run'] != '' %}
                value = "{{ dm['end_run'] }}"
                {% endif %}>
      <input type="submit" value="Submit">
    </form>
</div>

<h1>Upload new File</h1>
<form action="" method=post enctype=multipart/form-data>
    <p><input type=file name="file[]" multiple="">
    <input type="submit" name="btn" value="Upload">
</form>
<div style="width:100%;height:2%;position:absolute;top:0%;left:0%;text-align:center;">
 <a href="/configure">
Back to configuration
</a>
</div>
