<!doctype html>
<head>
<link type="text/css" rel="stylesheet" href="static/css/style.css"/>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/highcharts.js"></script>
<script type="text/javascript" src="static/highcharts-more.js"></script>
<script type="text/javascript" src="static/exporting.js"></script>
<script type="text/javascript" src="static/css-pop.js"></script>
<script type="text/javascript" src="static/Colour.js"></script>
<script type="text/javascript" src="static/layouts.js"></script>
<script type="text/javascript" src="/static/spin.min.js"></script>
<script type="text/javascript">

  var map;
  var existing_runs;
  var all_runs = [];
  var run_range=[0, 0];
  var hist='efficiency';
  var prop='mean';
  var tt_min=0;
  var tt_max=1;
  var it_min=0;
  var it_max=1;
  var temp_limits = [0,0];
  var opts = {
    lines: 13, // The number of lines to draw
    length: 10, // The length of each line
    width: 3, // The line thickness
    radius: 10, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb
    speed: 1, // Rounds per second
    trail: 46, // Afterglow percentage
    shadow: true, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };

    //'/rounding/<query1>____<query2>.json'
  var tt_rounding_request = new XMLHttpRequest();
  tt_rounding_request.onreadystatechange = function(response) {
  if (tt_rounding_request.readyState === 4) {
      if (tt_rounding_request.status === 200) {
      //console.log(request.responseText);
      tt_min = parseFloat(JSON.parse(tt_rounding_request.responseText)[0]);
      tt_max = parseFloat(JSON.parse(tt_rounding_request.responseText)[1]);
      document.getElementById('min_tt').value = JSON.parse(tt_rounding_request.responseText)[0];
      document.getElementById('max_tt').value = JSON.parse(tt_rounding_request.responseText)[1];
      update_colors();
      }
    }
  };

  var it_rounding_request = new XMLHttpRequest();
  it_rounding_request.onreadystatechange = function(response) {
  if (it_rounding_request.readyState === 4) {
      if (it_rounding_request.status === 200) {
      //console.log(request.responseText);
      it_min = parseFloat(JSON.parse(it_rounding_request.responseText)[0]);
      it_max = parseFloat(JSON.parse(it_rounding_request.responseText)[1]);
      document.getElementById('min_it').value = JSON.parse(it_rounding_request.responseText)[0];
      document.getElementById('max_it').value = JSON.parse(it_rounding_request.responseText)[1];
      update_colors();
      }
    }
  };



  var request = new XMLHttpRequest();
  request.onreadystatechange = function(response) {  
  if (request.readyState === 4) {
      if (request.status === 200) {
      //console.log(request.responseText);
      map = JSON.parse(request.responseText);
      update_limits();
      update_colors();
      $("#loading").hide();
      }
    }
  };

  var onload_request = new XMLHttpRequest();
  onload_request.onreadystatechange = function(response) {
  if (onload_request.readyState === 4) {
      if (onload_request.status === 200) {
      // Parse the JSON
      //console.log(JSON.parse(onload_request.responseText));
      jsonOptions = JSON.parse(onload_request.responseText);
      options = '';
      var last_run;
      jsonOptions.forEach(function(item) {
              // Create a new <option> element.
              var option = "<option value ='"+item+"'>"+item.toString()+"</option>"
              options = options + option;
              last_run = item;
              all_runs.push(item);
            });
       document.getElementById('end_run').innerHTML = options;
       document.getElementById('start_run').innerHTML = options;
       document.getElementById('all_runs').innerHTML = options;
       run_range[0] = last_run;
       document.getElementById('start_run').value = last_run;
       run_range[1] = last_run;
       document.getElementById('end_run').value = last_run;
       
       existing_runs=[last_run]
       book_plot(existing_runs);
       update_limits();
       update_colors();
       request.open('GET', 'results/'+run_range[0]+'____'+run_range[1]+'.json', true); request.send();
      }
    }
  };


  var existing_runs_request = new XMLHttpRequest();
  existing_runs_request.onreadystatechange = function(response) {
  if (existing_runs_request.readyState === 4) {
      if (existing_runs_request.status === 200) {
      //console.log(JSON.parse(existing_runs_request.responseText));
      existing_runs = JSON.parse(existing_runs_request.responseText);
      }
    }
  };

function update_runs(){

      var target = document.getElementById('loading');
      var spinner = new Spinner(opts).spin(target);
      $("#loading").show();

      run_range[0] = document.getElementById('start_run').value;
      run_range[1] = document.getElementById('end_run').value;
      existing_runs_request.open('GET', 'existing_runs/'+run_range[0]+'____'+run_range[1]+'.json', true); 
      existing_runs_request.send();
      request.open('GET', 'results/'+run_range[0]+'____'+run_range[1]+'.json', true); request.send();
}

function update_limits(){
    tt_max = -1000;
    tt_min = 1000;
    it_max = -1000;
    it_min = 1000;    
    for (var st_id in map){
        if (st_id.indexOf('TT') == 0){
            //console.log(st_id);
            if (map[st_id]['stats'][hist.toString()][prop.toString()]>tt_max){
                tt_max = map[st_id]['stats'][hist][prop];
            }
            if (map[st_id]['stats'][hist][prop]<tt_min){
                tt_min = map[st_id]['stats'][hist][prop];
            }
        }
        if (st_id.indexOf('IT') == 0){
            if (map[st_id]['stats'][hist][prop]>it_max){
                it_max = map[st_id]['stats'][hist][prop];
            }
            if (map[st_id]['stats'][hist][prop]<it_min){
                it_min = map[st_id]['stats'][hist][prop];
            }
        }        
    }
    //console.log('tt_min: '+tt_min.toString()+' tt_max: '+tt_max.toString());
    tt_rounding_request.open('GET', '/rounding/'+tt_min+'____'+tt_max+'.json', true); tt_rounding_request.send();
    it_rounding_request.open('GET', '/rounding/'+it_min+'____'+it_max+'.json', true); it_rounding_request.send();
    //it_rounding_request.open('GET', '/rounding/'+it_min.toString()+'____'+it_max.toString()+'.json', true); it_rounding_request.send()

}

function update_colors(){
    //console.log("tt_min: "+tt_min.toString()+"tt_max: "+tt_max.toString()+"it_min: "+it_min.toString()+"it_max: "+it_max.toString());
    for (var st_id in map)
    {   

        if (map[st_id]['stats'][hist][prop] == "empty")
        {
            //if (st_id.indexOf('TT') == 0){
            document.getElementById(st_id).style.backgroundColor='black';
            continue;
        //}
        }
        var min;
        var max;
        var span_info_prefix;
        if (st_id.indexOf('TT') == 0){
            min = tt_min;
            max = tt_max;
            span_info_prefix = 'TT_span_info_';
        }
        else{
            min = it_min;
            max = it_max;
            span_info_prefix = 'IT_span_info_';
        }
        if ((map[st_id]['stats'][hist][prop] < min)||(map[st_id]['stats'][hist][prop] > max))
        {
            //console.log("Out of region");
            //if (st_id.indexOf('TT') == 0){
            document.getElementById(st_id).style.backgroundColor='white';
            continue;
        //}
        }

        // (value-limits[0])/(limits[1]-limits[0])
        var color_num = (map[st_id]['stats'][hist][prop]-min)/(max-min);
        var color = new HSLColour(color_num*240, 100, 50).getRGB();
        var color_code = "rgb("+Math.round(color['r']).toString()+","+Math.round(color['g']).toString()+","+Math.round(color['b']).toString()+")";
        document.getElementById(st_id).style.backgroundColor=color_code;    
        if (hist =='efficiency'){
            document.getElementById(span_info_prefix+st_id).innerHTML= st_id+' '+hist+' '+prop+': '+round_tt_val(map[st_id]['stats'][hist][prop]).toString()+" %";
        }
        else if ((hist == 'width') || (hist == 'bias')){
            document.getElementById(span_info_prefix+st_id).innerHTML= st_id+' '+hist+' '+prop+': '+round_tt_val(map[st_id]['stats'][hist][prop]).toString()+" μm";
        }
        else if (hist == 'n_res'){
            document.getElementById(span_info_prefix+st_id).innerHTML= st_id+' TrackMonitor statistics '+prop+': '+Math.round(map[st_id]['stats'][hist][prop]).toString();
        }        
        else if (hist == 'n_eff'){
            document.getElementById(span_info_prefix+st_id).innerHTML= st_id+' STEfficiency statistics '+prop+': '+Math.round(map[st_id]['stats'][hist][prop]).toString();
        }        

        
    }
    for (var i = 0; i<100;i++){
        var color = new HSLColour(i*2.4, 100, 50).getRGB();
        var color_code = "rgb("+Math.round(color['r']).toString()+","+Math.round(color['g']).toString()+","+Math.round(color['b']).toString()+")";
        document.getElementById('tt_'+i.toString()).style.backgroundColor=color_code;
        document.getElementById('span_tt_'+i.toString()).innerHTML= round_tt_val(i*(parseFloat(tt_max)-parseFloat(tt_min))/100+parseFloat(tt_min)).toString();
        document.getElementById('it_'+i.toString()).style.backgroundColor=color_code;
        document.getElementById('span_it_'+i.toString()).innerHTML= round_it_val(i*(parseFloat(it_max)-parseFloat(it_min))/100+parseFloat(it_min)).toString();        
        //console.log("["+tt_min.toString()+", "+tt_max.toString()+"] "+i.toString()+"  ->  "+eval(i*(tt_max-tt_min)/100+tt_min).toString());
        }
}

function round_tt_val(tt_val){
    var min_tt_len = document.getElementById('min_tt').value.toString().length;
    var max_tt_len = document.getElementById('max_tt').value.toString().length;
    var len = Math.max(min_tt_len, max_tt_len);
    var tenth = Math.pow(10, len);
    return  Math.round(tt_val*tenth)/tenth;
}

function round_it_val(it_val){
    //console.log(it_val);
    var min_it_len = document.getElementById('min_it').value.toString().length;
    var max_it_len = document.getElementById('max_it').value.toString().length;
    var len = Math.max(min_it_len, max_it_len);
    var tenth = Math.pow(10, len);
    return  Math.round(it_val*tenth)/tenth;
}


function update_hist(){
    var selected = $("input[type='radio'][name='hist']:checked");
    hist = selected.val();
    update_limits();
    update_colors();
}

function update_prop(){
    var selected = $("input[type='radio'][name='prop']:checked");
    prop = selected.val();
    update_limits();
    update_colors();
}

function update_end_run(){
    if (document.getElementById('start_run').value>document.getElementById('end_run').value){
        document.getElementById('end_run').value=document.getElementById('start_run').value;
    }
}

function update_start_run(){
    var options = "";
    for (item in all_runs){
        if (document.getElementById('end_run').value>=all_runs[item]){
            var option = "<option value ='"+all_runs[item]+"'>"+all_runs[item].toString()+"</option>"
            options = options + option;
            last_run = all_runs[item];
        }
    }
    document.getElementById('start_run').innerHTML = options;
    document.getElementById('start_run').value = last_run;
}

function update_header(title){
    document.getElementById('container_title').innerHTML = "<h1>"+title.id+"</h1>";
}
function update_layout(){
    var selected = $("input[type='radio'][name='layout']:checked");
    var layout = selected.val();
    return set_layout(map, layout);
}


</script>
</head>
 <body onload="onload_request.open('GET', 'all_runs/all_runs.json', true);onload_request.send();">    


<datalist id="all_runs"></datalist> 
<div id="STPlot" onclick="hideBig_lite('STPlot');">
   <div id="container_canvas" style="width:100%; height:100%;background-color:white;">
      <div id="container_title" style="text-align:center;border:1px solid black">
        <h1>Name of the sector</h1>
      </div>
      <div style="width:100%; height:30%;top:10%;border:1px solid black;">
          <div id="container_width" style="width:45%;height:29%;"></div>
      </div>
      <div style="width:100%; height:30%;top:40%;border:1px solid black;">
          <div id="container_bias" style="width:45%;height:29%;"></div>
      </div>
      <div style="width:100%; height:30%;top:70%;border:1px solid black;">
          <div id="container_efficiency" style="width:45%;height:29%;"></div>
      </div>
   </div>
</div>

<div style="width:10%;height:100%;position:absolute;top:0%;left:0%;text-align:center;">
        <div style="width:100%;position:absolute;top:2%;left:0%;">
                Trend 
                <table style="text-align:left;">
                    <tr>
                        <td><input id="hist_efficiency" type="radio" name="hist" value="efficiency" checked="checked" onchange="update_hist()"/></td><td><label for='hist_efficiency'>Efficiency</td>
                    </tr>
                    <tr>
                        <td><input id="hist_bias" type="radio" name="hist" value="bias"  onchange="update_hist()"/></td><td><label for='hist_bias'>Bias      </td>
                    </tr>
                    <tr>
                        <td><input id="hist_width" type="radio" name="hist" value="width"  onchange="update_hist()"/></td><td><label for='hist_width'>Width     </td>
                    </tr>
                    <tr>
                        <td><input id="hist_n_res" type="radio" name="hist" value="n_res"  onchange="update_hist()"/></td><td><label for='hist_n_res'>Stat.Track.Mon.     </td>
                    </tr>
                    <tr>
                        <td><input id="hist_n_eff" type="radio" name="hist" value="n_eff"  onchange="update_hist()"/></td><td><label for='hist_n_eff'>Stat.STEff.     </td>
                    </tr>

                </table>
        </div>
        <div style="width:100%;position:absolute;top:20%;left:0%;">
          Property
                <table style="text-align:left;">
                    <tr>
                        <td><input id="prop_mean" type="radio" name="prop" value="mean" checked="checked" onchange="update_prop()"/></td><td><label for='prop_mean'>Mean     </td>
                    </tr>
                    <tr>
                        <td><input id="prop_min" type="radio" name="prop" value="min"  onchange="update_prop()"/></td><td><label for='prop_min'>Min      </td>
                    </tr>
                    <tr>
                        <td><input id="prop_max" type="radio" name="prop" value="max"  onchange="update_prop()"/></td><td><label for='prop_max'>Max      </td>
                    </tr>
                </table>          
        </div>
        <div style="width:100%;position:absolute;top:35%;left:0%;">
        Run range:
        <table style="text-align:left;">
          <tr>
            <!--<datalist id="all_runs"></datalist> -->
              <td>From:</td><td> <select id="start_run" onchange="update_end_run()"></select></td>
        </tr>
        <tr>
              <td>To:</td><td> <select id="end_run" onchange="update_start_run()"></select>  </td>            
        </tr>
        </table> 
        <table style="text-align:left;">
        <tr>
            <td><input type="submit" onclick="update_runs()"></td>
        </tr>
        </table>   
        <div id="loading" style="width:100%;height:100%;position:absolute;top:150%;left:50%;">
          <div style="width:100%;position:absolute;top:50%;left:-50%;">
            Loading...
          </div>          
        </div>          
        </div>
        <div style="width:100%;position:absolute;bottom:0%;left:0%;">
                Layout by 
                <table style="text-align:left;">
                    <tr>
                        <td><input id="layout_Ilya" type="radio" name="layout" value="Ilya"  onchange="update_layout()"/></td><td><label for='layout_Ilya'>Ilya</td>
                    </tr>
                    <tr>
                        <td><input id="layout_Mark" type="radio" name="layout" value="Mark"  onchange="update_layout()"/></td><td><label for='layout_Mark'>Mark      </td>
                    </tr>
                    <tr>
                        <td><input id="layout_Frederic" type="radio" name="layout" value="Frederic" checked="checked" onchange="update_layout()"/></td><td><label for='layout_Frederic'>Frederic     </td>
                    </tr>
                </table>
        </div>        
</div>
<div style="width:90%;height:100%;position:absolute;top:0%;left:10%;text-align:center;">
<div style="width:50%;height:100%;position:absolute;top:0%;left:0%;text-align:center;">
    <div style="width:10%;position:absolute;top:0%;left:0%;">
        <input type="text" id="min_tt" style="width:90%;">
    </div>
    <div style="width:80%;height:7%;position:absolute;top:0%;left:10%;">
                {% for i in range(0, 100) %}
                    <span class="dropt" >
                        <div style="width:1%;height:25%;position:absolute;top:0%;left:{{ i }}%;" id = "tt_{{ i }}">
                            <span id="span_tt_{{ i }}">Hi!</span>
                        </div>
                    </span>
                {% endfor %}
    </div>
    <div style="width:10%;height:7%;position:absolute;top:0%;left:90%;">
        <input type="text" id="max_tt" style="width:90%;">
    </div>
    <div style="width:100%;height:95%;position:absolute;top:5%;left:0%;">
        {% for layer in tt %}
            {% if tt[layer]['layer_info'] %}
            <div id="{{ layer }}" align="center" style="
                                    {% for i in tt[layer]['layer_info'] %}
                                        {{ i }}:{{ tt[layer]['layer_info'][i] }};
                                    {% endfor %}">
                <div id="name_{{ layer }}" style="width:100%;height:15%;position:absolute;top:0;left:0%;">
                <h2>{{ layer }}</h2>
                </div>
                <div id="position_{{ layer }}" style="width:90%;height:80%;position:absolute;top:15%;left:5%;">
                {% for side in tt[layer] %}
                    {% if  tt[layer][side]['side_info'] %}
                        <div id="{{ layer+side }}" align="center" style="
                                        {% for i in tt[layer][side]['side_info'] %}
                                            {{ i }}:{{ tt[layer][side]['side_info'][i] }};
                                        {% endfor %}" >
                            {% for sector in tt[layer][side] %}
                                {% if  tt[layer][side][sector]['div_info'] %}
                                <!--<a href="/{{ tt[layer][side][sector]['Name'] }}">-->
                                <div class="thumbnail" id={{ tt[layer][side][sector]['Name'] }} style="
                                    {% for i in tt[layer][side][sector]['div_info'] %}
                                        {{ i }}:{{ tt[layer][side][sector]['div_info'][i] }};
                                    {% endfor %}" 
                                     onmouseover="update_plot_lite({{ tt[layer][side][sector]['Name'] }});showAsTT_lite('STPlot');update_header({{ tt[layer][side][sector]['Name'] }})" onmouseout="hideAsTT_lite('STPlot');" onclick="expand_lite('STPlot');"> 
                                    <span id='TT_span_info' style="left:10%;top:2%;width:45%;background-color:transparent;border:transparent;">
                                    <div id='TT_span_info_{{ tt[layer][side][sector]["Name"] }}'> {{ tt[layer][side][sector]['Name'] }}  
                                    </div>
                                    </span>
                                    {{ sector }}
                                </div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div style="width:50%;height:100%;position:absolute;top:0%;left:50%;text-align:center">
    <div style="width:10%;position:absolute;top:0%;left:0%;">
        <input type="text" id="min_it" style="width:90%;">
    </div>
    <div style="width:80%;height:7%;position:absolute;top:0%;left:10%;">
                {% for i in range(0, 100) %}
                    <span class="dropt" >
                        <div style="width:1%;height:25%;position:absolute;top:0%;left:{{ i }}%;" id = "it_{{ i }}">
                            <span id="span_it_{{ i }}">Hi!</span>
                        </div>
                    </span>
                {% endfor %}
    </div>
    <div style="width:10%;height:7%;position:absolute;top:0%;left:90%;">
        <input type="text" id="max_it" style="width:90%;">
    </div>
    <div style="width:100%;height:95%;position:absolute;top:5%;left:0%;">
        {% for station in it %}
            {% if it[station]['station_info'] %}
            <div id="IT_station" align="center" style="
                                    {% for i in it[station]['station_info'] %}
                                        {{ i }}:{{ it[station]['station_info'][i] }};
                                    {% endfor %}">
                <h1>{{ station }}</h1>
                {% for side in it[station] %}
                    {% if  it[station][side]['side_info'] %}
                        <div id="IT_side" align="center" style="
                                        {% for i in it[station][side]['side_info'] %}
                                            {{ i }}:{{ it[station][side]['side_info'][i] }};
                                        {% endfor %}">
                        {% for layer in it[station][side] %}
                            {% if  it[station][side][layer]['layer_info'] %}
                                <div id="IT_side" align="center" style="
                                                {% for i in it[station][side][layer]['layer_info'] %}
                                                    {{ i }}:{{ it[station][side][layer]['layer_info'][i] }};
                                                {% endfor %}">
                                {% for sector in it[station][side][layer] %}
                                    {% if  it[station][side][layer][sector]['div_info'] %}
                                    <!--<a href="/{{ it[station][side][layer][sector]['Name'] }}">-->
                                        <div class="thumbnail" id={{ it[station][side][layer][sector]['Name'] }} style="
                                            {% for i in it[station][side][layer][sector]['div_info'] %}
                                                {{ i }}:{{ it[station][side][layer][sector]['div_info'][i] }};
                                            {% endfor %}"
                                            onmouseover="update_plot_lite({{ it[station][side][layer][sector]['Name'] }});showAsIT_lite('STPlot');update_header({{ it[station][side][layer][sector]['Name'] }});" onmouseout="hideAsIT_lite('STPlot');" onclick="expand_lite('STPlot');"> 
                                                <span id='IT_span_info' style="left:55%;top:2%;width:45%;background-color:transparent;border:transparent;">
                                                <div id='IT_span_info_{{ it[station][side][layer][sector]["Name"] }}'> 
                                                    {{ it[station][side][layer][sector]['Name'] }}  
                                                </div>
                                                </span>
                                                {{ sector }}
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
$("#min_tt").keyup(function(event){
    if(event.keyCode == 13){
        tt_min = $("#min_tt").val();
        update_colors();
    }
}); 

$("#max_tt").keyup(function(event){
    if(event.keyCode == 13){
        tt_max = $("#max_tt").val();
        update_colors();
    }
});

$("#min_it").keyup(function(event){
    if(event.keyCode == 13){
        it_min = $("#min_it").val();
        update_colors();
    }
}); 

$("#max_it").keyup(function(event){
    if(event.keyCode == 13){
        it_max = $("#max_it").val();
        update_colors();
    }
});
</script>

</body>

